*{
    padding: 0;
    margin: 0;
}
.Header-container{
    width: 100%;
    height: 60px;
    background-color: black;
    position: fixed;
    top: 0;
}
.Header-container>div:nth-child(1){
    width: 27%;
    height: 50px;
    margin-top: 5px;
}
.Header-container>div:nth-child(1)>div:nth-child(1){
    /* padding: 10px; */
    width: 8%;
    height: 30px;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}
.Header-container>div:nth-child(1)>div:nth-child(2){
    width: 35%;
    height: 50px;
}

.Header-container>div:nth-child(2){
    width: 46%;
    height: 50px;
    margin-top: 5px;
}
.Header-container>div:nth-child(2)>div:nth-child(1){
    width: 90%;
    height: 43px;
    border-radius: 30px;
    padding: 3px;
    background-color: rgb(62, 62, 62);
}
.Header-container>div:nth-child(2)>div:nth-child(1)>input{
    width: 90%;
    height: 43px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    font-size: 15px;
    background-color: black;
    border: none;
    outline: none;
}
.Header-container>div:nth-child(2)>div:nth-child(1)>div{
    font-size: 25px;
    width: 5%;
    height: 21px;
    padding: 9px;
    color: white;
    padding-left: 15px;
}
.Header-container>div:nth-child(2)>div:nth-child(2){
    color: white;
    font-size: 23px;
    height: 24px;
    width: 24px;
    padding: 9px;
    margin-left: 10px;
    border-radius: 50%;
    margin-top: 4px;
    background-color: rgb(62, 62, 62);
}

.Header-container>div:nth-child(3){
    width: 27%;
    height: 50px;
    color: white;
    justify-content: flex-end;
}
.Header-container>div:nth-child(3)>div:nth-child(1){
    width: 10%;
    height: 25px;
    color: white;
    margin-top: 12px;
}
.Header-container>div:nth-child(3)>div:nth-child(2){
    border: 1px solid gray;
    width: 23%;
    height: 23px;
    color: rgb(0, 132, 255);
    border-radius: 30px;
    padding: 6px;
    margin-top: 4px;
    margin-right: 20px;
}
.Header-container>div:nth-child(3)>div:nth-child(2)>p{
    font-size: 15px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 3px;
}

.display-flex{
    display: flex;
}
.image{
    width: 100%;
    height: 100%;
}