*{
    padding: 0;
    margin: 0;
}
.login_container{
    width: 100%;
}
.login_container>div{
    border: 1px solid rgb(210, 210, 210);
    width: 25%;
    height: 430px;
    margin: auto;
    margin-top: 100px;
    padding: 40px;
    border-radius: 5px;
}
.login_container>div>p:nth-child(1){
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 30px;
}
.login_container>div>fieldset{
    margin-top: 30px;
    border: 2px solid rgb(69, 114, 228);
    border-radius: 5px;
    margin-bottom: 10px;
}
.login_container>div>fieldset>legend{
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.login_container>div>fieldset>input{
    width: 90%;
    height: 40px;
    margin-left: 10px;
    font-size: 20px;
    border: none;
    outline: none;
}
.login_container>div>input:nth-child(4){
    width: 96%;
    height: 50px;
    font-size: 15px;
    outline: none;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
    margin-bottom: 10px;
}
.login_container>div>p:nth-child(6){
    margin-top: 40px;
}
.login_container>div>div:nth-child(8){
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.login_container>div>div:nth-child(8)>button:nth-child(1){
    font-size: 13px;
    padding: 10px 5px;
    background-color: white;
    font-weight: 500;
    border: none;
}
.login_container>div>div:nth-child(8)>button:nth-child(1):hover{
    background-color: rgb(244, 246, 248);
}
.Account_show {
    width: 14.3%;
    color: green;
    cursor: pointer;
    position: absolute;
    bottom: 30%;
    left: 37%;
    background-color: white;
    box-shadow: 2px 2px 10px 2px rgb(197, 197, 197);
}
.Account_show >button{
    width: 100%;
    text-align: left;
    height: 45px;
    background-color: white;
    border: none;
    font-size: 17px;
    padding-left: 11px;
    margin-top: 3px;
    cursor: pointer;
}

.Account_hide {
    display: none;
}



.login_container>div>div:nth-child(8)>button:nth-child(3){
    font-size: 13px;
    padding: 10px 20px;
    background-color: rgb(69, 114, 228);
    font-weight: 500;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}
.login_container>div:nth-child(2){
    width: 30%;
    height: 30px;
    margin: auto;
    margin-top: 20px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    border: none;
}
.login_container>div:nth-child(2)>button{
    padding: 0px 5px;
    background-color: white;
    border: none;
}
.login_container>div:nth-child(2)>div{
    width: 32%;
    display: flex;
    justify-content: space-between;
}
.login_container>div:nth-child(2)>div>button{
    padding: 5px 5px;
    background-color: white;
    border: none;
}


.text-align{
    text-align: center;
}
.fontsize_13{
    font-size: 13px;
}
.blue{
    color: rgb(69, 114, 228);
}