*{
    padding: 0;
    margin: 0;
}
.register_container{
    width: 100%;
}
.register_container>div{
    border: 1px solid rgb(210, 210, 210);
    width: 25%;
    height: 430px;
    margin: auto;
    margin-top: 100px;
    padding: 40px;
    border-radius: 5px;
    position: relative;
}
.register_container>div>p:nth-child(1){
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 40px;
}
.register_container>div>fieldset{
    margin-top: 30px;
    border: 2px solid rgb(69, 114, 228);
    border-radius: 5px;
    margin-bottom: 10px;
}
.register_container>div>fieldset>legend{
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.register_container>div>fieldset>input{
    width: 90%;
    height: 40px;
    margin-left: 10px;
    font-size: 20px;
    border: none;
    outline: none;
}

.register_container>div>input{
    border-radius: 5px;
    margin-bottom: 10px;
    width: 97%;
    border: 1px solid gray;
    padding-left: 10px;
    height: 45px;
    font-size: 15px;
    font-weight: 500;
}
.register_container>div>div:nth-child(8){
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.register_container>div>div:nth-child(8)>button{
    font-size: 13px;
    padding: 10px 20px;
    background-color: rgb(69, 114, 228);
    font-weight: 500;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 23%;
}

.register_container>div:nth-child(2){
    width: 30%;
    height: 30px;
    margin: auto;
    margin-top: 20px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    border: none;
}
.register_container>div:nth-child(2)>button{
    padding: 0px 5px;
    background-color: white;
    border: none;
}
.register_container>div:nth-child(2)>div{
    width: 32%;
    display: flex;
    justify-content: space-between;
}
.register_container>div:nth-child(2)>div>button{
    padding: 5px 5px;
    background-color: white;
    border: none;
}